.container {
    max-width: 1440px;
    ackground-color: #FABBFA;
    margin: 0;
    padding: 0;
}

#icon {
    height: 60px;
    background-color: #AEAEAE;
    margin: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
}

.list-inline-item {
    margin-left: 10px;
    /* Sesuaikan margin sesuai kebutuhan */
}


#p {
    max-height: 30px;
    background-color: #D9D9D9;
    margin: 0;
    padding: 2px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FABBFA;
}

.navbar-brand {
    margin-right: auto;
}

#logo {
    height: 45px;
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-toggler-icon {
    background-color: purple;
    /* Ganti dengan warna hiram yang Anda inginkan */
}

.about-habib {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about-habib .overlap-wrapper {
    overflow-x: hidden;
    width: 1440px;
    height: 1279px;
}

.about-habib .overlap {
    position: relative;
    width: 1441px;
    height: 821px;
}

.about-habib .div {
    position: absolute;
    width: 1440px;
    height: 735px;
    top: 86px;
    left: 0;
    background-color: #ffffff;
    overflow: hidden;
}

.about-habib .group {
    position: absolute;
    width: 1242px;
    height: 450px;
    top: 154px;
    left: 102px;
}

.about-habib .overlap-group {
    position: relative;
    width: 1236px;
    height: 450px;
    background-color: #ffb9f8;
    border-radius: 35px;
}

.about-habib .element {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 198px;
    left: 944px;
    object-fit: cover;
}

.about-habib .img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 200px;
    left: 666px;
    object-fit: cover;
}

.about-habib .element-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 198px;
    left: 85px;
    object-fit: cover;
}

.about-habib .element-3 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 198px;
    left: 374px;
    object-fit: cover;
}

.about-habib .text-wrapper {
    position: absolute;
    width: 195px;
    top: 153px;
    left: 521px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.about-habib .overlap-2 {
    position: absolute;
    width: 1059px;
    height: 116px;
    top: 27px;
    left: 85px;
}

.about-habib .p {
    position: absolute;
    width: 1059px;
    top: 47px;
    left: 0;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.about-habib .text-wrapper-2 {
    position: absolute;
    width: 195px;
    top: 0;
    left: 436px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.about-habib .text-wrapper-3 {
    position: absolute;
    top: 52px;
    left: 626px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ff56c5;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.about-habib .line {
    position: absolute;
    width: 244px;
    height: 7px;
    top: 106px;
    left: 598px;
}

.about-habib .group-2 {
    position: absolute;
    width: 410px;
    height: 76px;
    top: 666px;
    left: 516px;
}

.about-habib .text-wrapper-4 {
    position: absolute;
    top: 12px;
    left: 84px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.about-habib .entypo-social {
    position: absolute;
    width: 56px;
    height: 53px;
    top: 0;
    left: 0;
}

.about-habib .line-2 {
    position: absolute;
    width: 1440px;
    height: 5px;
    top: 740px;
    left: 1px;
}

.about-habib .rectangle {
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
            rgb(214.07, 202.04, 246.15) 0%,
            rgb(240, 218, 239) 53.12%,
            rgb(250.4, 185.71, 250.4) 100%);
}

.about-habib .navbar {
    display: flex;
    width: 484px;
    height: 24px;
    align-items: flex-start;
    gap: 41px;
    position: absolute;
    top: 38px;
    left: 636px;
}

.about-habib .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-bottom: -4px;
    font-family: "Montserrat-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.about-habib .text-wrapper-6 {
    margin-right: -26px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-bottom: -4px;
    font-family: "Montserrat-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}